.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    z-index: 1500;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.top-navbar__link {
    color: white;
    text-decoration: none;
}