.country-info {
    padding: 70px 5%;
}

.country-info h1 {
    text-transform: capitalize;
    text-align: center;
    font-weight: normal;
}

.short-info {
    display: flex;
}

.short-info__map {
    width: 50%;
}

.short-info__text {
    padding: 0 10px;
    font-size: 19px;
}

.short-info__text h3 {
    font-weight: normal;
    margin: 0;
}

.info-item {
    margin: 0 0 10px;
}

.info-item__header {
    text-transform: capitalize;
}

.metrics {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.metrics-link {
    width: 30%;
    margin-bottom: 25px;
    color: black;
    text-decoration: none;
}

.metrics-link:not(:nth-child(3n)) {
    margin-right: 5%;
}

.metrics-item {
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s;
    cursor: pointer;
}

.metrics-item__name {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.metrics-item:hover {
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
}

@media screen and (max-width: 767px) {
    .metrics {
        justify-content: center;
    }

    .short-info {
        flex-wrap: wrap;
    }

    .short-info__map {
        width: 100%;
        margin-bottom: 10px;
    }

    .metrics-link {
        width: 90%;
        margin-bottom: 30px;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .metrics-link {
        width: 40%;
        margin-right: 0;
    }

    .metrics {
        justify-content: space-between;
    }
}